// size screen

$wide-sz: 1200px;

// font

$font-main-sz: 20px;
$title-sz: 24px;
$font-family: "Arial", sans-serif;
$font-weight: 400;
$font-bold: 600;


// color

$main-cl: #ffffff;
$contrast-cl: #333333;
$other-contrast-cl: #4b4b4b;
$bg-cl: #3f9a36;
$other-bg-cl: #45a13c;